<form action="/api/todos/create" method="GET">
  <div>
    <label>Title</label>
    <input type="text" id="txt_title" name="title" required>
  </div> 
  <div>
    <button type="submit">Save</button>
  </div>
</form>