<form action="/todos/create" method="POST">
  <div>
    <label>Title</label>
    <input type="text" id="txt_title" name="title" required>
  </div> 
  <div>
    <label>name</label>
    <input type="text" id="txt_name" name="name" required>
  </div> 
  <div>
    <button type="submit">Save</button>
  </div>
</form>
