<form action="/todos/create" method="POST" data-success="{{ urlFormSuccess }}">
  <div>
    <label>Title</label>
    <input type="text" id="txt_title" name="title" required>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
<template id="form_create_error">

</template>
